@media screen and (min-width: 768px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 32px 0px;
    grid-template-areas:
      'box-1 box-3'
      'box-1 box-4'
      'box-2 box-5';
  }

  .box-1 {
    grid-area: box-1;
  }
  .box-5 {
    grid-area: box-5;
  }
  .box-2 {
    grid-area: box-2;
  }
  .box-3 {
    grid-area: box-3;
  }
  .box-4 {
    grid-area: box-4;
  }
}
