@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper {
  padding-left: 12px;
  padding-right: 12px;
}

@media screen and (min-width: 768px) {
  .wrapper {
    padding-left: 24px;
    padding-right: 24px;
  }
}

/* Slider Before-After */
[data-testid='container'] {
  width: 100% !important;
  height: 100% !important;
}

.modal-backdrop {
  background: rgba(149, 149, 149, 0.25);
  backdrop-filter: blur(12.5px);
}
