@tailwind base;
@tailwind components;
@tailwind utilities;

.main-container {
  max-width: 480px;
  margin: 0 auto;
  padding: 0 20px;

  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding: 0 32px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 1280px;
    padding: 0 20px;
  }
}

.wrapper {
  padding-left: 12px;
  padding-right: 12px;

  @media screen and (min-width: 768px) {
    padding-left: 24px;
    padding-right: 24px;
  }
}

/* Slider Before-After */
[data-testid='container'] {
  width: 100% !important;
  height: 100% !important;
}
